:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --mid-font: 400;
  --heavy-font: 700;
  --border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-gray);
  font-family: "Outfit";
  font-weight: var(--mid-font);
  margin: 20px;
}

main {
  height: 95vh;
  display: grid;
  place-items: center;
}

img {
  border-radius: inherit;
}

.card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 320px;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.1);
  font-size: 15px;
}

.text {
  margin: 0 8px 20px;
  text-align: center;
  letter-spacing: 0.8px;
}

.title {
  color: var(--dark-blue);
  font-weight: var(--heavy-font);
  font-size: 20px;
  margin-bottom: 25px;
}

.content {
  color: var(--grayish-blue);
}

footer {
  text-align: center;
  font-size: 10px;
}
footer a {
  color: var(--dark-blue);
}
